/*Variables*/
:root {
  --color-bg-primary: #084a7a;
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*Navbar*/
.navbar {
  background-color: var(--color-bg-primary);
  color: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); 
}

/*footer*/
footer {
  background-color: darkgrey; 
}

.content-main {
  margin-top: 80px;
}