<div class="container content-main">
    <div class="col">
        <h1>Profile Page</h1>
        <h3>Your Information</h3>
    </div>

    <!--Profile Info-->
    <div class="col">
        <form name="saveInfoForm" ng-submit="$ctrl.changeInfo()">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" ng-model="$ctrl.myInfo.UserName" required placeholder="New Username">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="text" name="email" ng-model="$ctrl.myInfo.Email" required placeholder="New Email">
            </div>
            <label>Home Address:</label>
            <div class="form-group form-inline">
                <label for="streetHAddress">Street Address:</label>
                <input class="form-control" type="text" name="streetHAddress" ng-model="$ctrl.newHStreetAddr" required placeholder="New Street Address">

                <label for="stateHAddress">State:</label>
                <input class="form-control" type="text" name="stateHAddress" ng-maxlength="2" ng-model="$ctrl.newHomeState" required placeholder="New State">

                <label for="cityHAddress">City:</label>
                <input class="form-control" type="text" name="cityHAddress" ng-model="$ctrl.newHomeCity" required placeholder="New City">

                <label for="zipHAddress">Zip Code:</label>
                <input class="form-control" type="number" min="0" name="zipHAddress" ng-model="$ctrl.newHomeZip" required placeholder="New Zip">
            </div>
            <label>Shipping Address:</label>
            <div class="form-group form-inline">
                <label for="streetSAddress">Street Address:</label>
                <input class="form-control" type="text" name="streetSAddress" ng-model="$ctrl.newSStreetAddr" required placeholder="New Street Address">

                <label for="stateSAddress">State:</label>
                <input class="form-control" type="text" name="stateSAddress" ng-maxlength="2" ng-model="$ctrl.newShipState" required placeholder="New State">

                <label for="citySAddress">City:</label>
                <input class="form-control" type="text" name="citySAddress" ng-model="$ctrl.newShipCity" required placeholder="New City">

                <label for="zipSAddress">Zip Code:</label>
                <input class="form-control" type="number" min="0" name="zipSAddress" ng-model="$ctrl.newShipZip" required placeholder="New Zip">
            </div>
        </form>
        <button type="button" class="btn btn-sm btn-primary infoBtn" ng-disabled="saveInfoForm.$invalid" ng-click="$ctrl.saveInfo()">Save</button>

        <form name="changePassForm" ng-submit="$ctrl.changePassword()">
            <div class="form-group">
                <label for="password" class="hidden-label">Old Password</label>
                <input class="form-control" type="text" name="oldPassword" ng-model="$ctrl.oldPassword" required placeholder="Old Password">
            </div>
            <div class="form-group">
                <label for="password" class="hidden-label">New Password</label>
                <input class="form-control" type="text" name="newPassword" ng-model="$ctrl.newPassword" required placeholder="New Password">
            </div>
            <div class="form-group">
                <label for="password" class="hidden-label">Confirm Password</label>
                <input class="form-control" type="text" name="confirmedPassword" ng-model="$ctrl.confirmNewPassword" required placeholder="Confirm New Password">
            </div>
        </form>
        <span ng-if="$ctrl.newPassword != $ctrl.confirmNewPassword">Passwords do not match</span>
        <button type="button" class="btn btn-sm btn-primary" ng-disabled="($ctrl.newPassword != $ctrl.confirmedPassword) || changePassForm.$invalid" ng-click="$ctrl.changePassword()">Change Password</button>
    </div>

    <!--Order History-->
    <div class="col">
        <hr />
        <h3 class="mt-5">Order History</h3>
        <br />
        <div ng-repeat="b in ($ctrl.myBooks | filter: search) track by $index">
            <div class="row">
                <div class="col-4 col-md-2">
                    <zoom-img src="{{b.BookCover}}" />
                </div>
                <div class="col">
                    <a ui-sref="profile.book({bookId: b.BookID})">
                        <h4 class="font-weight-light">{{b.BookTitle}}</h4>
                    </a>
                    <a ui-sref="author({id: b.AuthorID})">
                        <small>By {{b.AuthorName}}</small>
                    </a>
                    <br />
                    <small>Genre: {{b.Genre}}</small>
                    <br />
                    <small>Publisher: {{b.PublisherName}}</small>
                    <br />
                    <small>Purchased on: {{b.DatePurchased | date: 'short' }}</small>
                    <br />
                </div>
                <div class="col flex-grow-0">${{b.Price}}</div>
            </div>
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <ui-view />
</div>
