<div class="container content-main">
    <div class="col">
        <h1>Profile Page</h1>
        <h3>Your Information</h3>
    </div>

    <!--Profile Info-->
    <div class="col">
        <form name="changeUserForm" ng-submit="$ctrl.changeUsername()">
            <div class="form-group">
                <label for="username" >Username: </label>
                <input class="form-control" type="text" name="username" ng-model="$ctrl.myInfo.UserName" required placeholder="New Username">
            </div>
        </form>
        <button type="button" class="btn btn-sm btn-primary infoBtn" ng-disabled="changeUserForm.$invalid" ng-click="$ctrl.changeUsername()">Change Username</button>

        <form ng-submit="ctrl.changeEmail()" name="$ctrl.validateEmail">
                <div class="form-group">
                    <label for="email" class="hidden-label">New Email</label>
                    <input class="form-control" type="text" name="email" ng-model="$ctrl.newEmail" required placeholder="New Email">
                    <span ng-if="$ctrl.validateEmail.email.$error.email">Invalid email</span>
                </div>
        </form>
        <button type="button" class="btn btn-sm btn-primary infoBtn" ng-disabled="$ctrl.validateEmail.$invalid" ng-click="$ctrl.changeEmail()">Change Email</button>

        <form name="changeShippingForm" ng-submit="$ctrl.changeShipping()">
            <div class="form-group">
                <label for="shipping" class="hidden-label">New Shipping Address</label>
                <input class="form-control" type="text" name="shipping" ng-model="$ctrl.newShipping" required placeholder="New Shipping Address">
            </div>           
		</form>
        <button type="button" class="btn btn-sm btn-primary infoBtn" ng-disabled="changeShippingForm.$invalid" ng-click="$ctrl.changeShipping()">Change Shipping</button>

        <form name="changeBillingForm" ng-submit="$ctrl.changeBilling()">
            <div class="form-group">
                <label for="billing" class="hidden-label">New Billing Address</label>
                <input class="form-control" type="text" name="billing" ng-model="$ctrl.newBilling" required placeholder="New Billing Address">
            </div>
        </form>
        <button type="button" class="btn btn-sm btn-primary infoBtn" ng-disabled="changeBillingForm.$invalid" ng-click="$ctrl.changeBilling()">Change Billing</button>

        <form name="changePassForm" ng-submit="$ctrl.changePassword()">
            <div class="form-group">
                <label for="password" class="hidden-label">Old Password</label>
                <input class="form-control" type="text" name="oldPassword" ng-model="$ctrl.oldPassword" required placeholder="Old Password">
            </div>
            <div class="form-group">
                <label for="password" class="hidden-label">New Password</label>
                <input class="form-control" type="text" name="newPassword" ng-model="$ctrl.newPassword" required placeholder="New Password">
            </div>
            <div class="form-group">
                <label for="password" class="hidden-label">Confirm Password</label>
                <input class="form-control" type="text" name="confirmedPassword" ng-model="$ctrl.confirmNewPassword" required placeholder="Confirm New Password">
            </div>
        </form>
        <span ng-if="$ctrl.newPassword != $ctrl.confirmNewPassword">Passwords do not match</span>
        <button type="button" class="btn btn-sm btn-primary" ng-disabled="($ctrl.newPassword != $ctrl.confirmedPassword) || changePassForm.$invalid" ng-click="$ctrl.changePassword()">Change Password</button>
    </div>

    <!--Order History-->
    <div class="col">
        <hr />
        <h3 class="mt-5">Order History</h3>
        <br />
        <div ng-repeat="b in ($ctrl.myBooks | filter: search) track by $index">
            <div class="row">
                <div class="col-4 col-md-2">
                    <zoom-img src="{{b.BookCover}}" />
                </div>
                <div class="col">
                    <a ui-sref="profile.book({bookId: b.BookID})">
                        <h4 class="font-weight-light">{{b.BookTitle}}</h4>
                    </a>
                    <a ui-sref="author({id: b.AuthorID})">
                        <small>By {{b.AuthorName}}</small>
                    </a>
                    <br />
                    <small>Genre: {{b.Genre}}</small>
                    <br />
                    <small>Publisher: {{b.PublisherName}}</small>
                    <br />
                </div>
                <div class="col flex-grow-0">${{b.Price}}</div>
            </div>
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <ui-view />
</div>
