<div class="container content-main">

        <div class="col">
            <h1>{{$ctrl.auth.AuthorName}}</h1>
        </div>
        <div class="col">
            <p>{{$ctrl.auth.AuthorBio}}</p>
        </div>


    <div class="col mb-4">
        <h4>Books by {{$ctrl.auth.AuthorName}}</h4>
    </div>
    <div ng-repeat="b in ($ctrl.books | filter: search) track by $index" class="col">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-2">
                <img ng-src="{{b.BookCover}}" class="img-fluid" />
            </div>
            <div class="col">
                <a ui-sref="author.book({id: b.BookID})"><h4 class="font-weight-light">{{b.BookTitle}}</h4></a>
                <div>Genre: {{b.Genre}}</div>
                <div>Publisher: {{b.PublisherName}}</div>
                <div><small class="text-muted">{{b.BookRating}}/5 Stars</small></div>
            </div>
            <div class="col">
                <span class="float-right">$ {{b.Price}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>
    </div>

    <ui-view></ui-view>
</div>
