<div class="container content-main">
    <div class="row justify-content-center">
		<div class="col col-sm-6 col-md-4">
			<h1>GeekText</h1>
       		<form>  
				<div class="form-group">
					<label for="email" class="hidden-label">Email</label>
					<input class="form-control" type="email" id="email" name="email" ng-model="$ctrl.username" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password" class="hidden-label">Password</label>
					<input class="form-control" type="password" id="password" name="password" ng-model="$ctrl.password" placeholder="Password">
				</div>
				<div class="form-group">
					<!-- Contains Temporary ui-sref to Profile Page -->
					<input class= "btn btn-primary" ng-click="$ctrl.onSubmit()" ui-sref="profile" type="submit" value="Sign In">
				</div>
        	</form>
		</div>
    </div>
</div>
