<div class="container content-main">
    <h1>Books</h1>
    
    <div class="container">
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" ng-model="search" />
                </div>
            </div>
        </div>
        <div ng-repeat="b in ($ctrl.books | filter: search) track by $index">
            <div class="row">
                <div class="col">
                    <h5>{{b.name}}</h3>
                    <span class="text-muted">{{b.description}}</p>
                    <a ui-sref="books.detail({id: $index})">View</a>
                </div>
            <div class="col">
                <span class="float-right">$ {{b.price}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    <ui-view></ui-view>
</div>
    