<!--Just a place holder for now, will make this way prettier -Dariel -->
<div class="modal-backdrop fade show"></div>
<div class="modal d-block" tabindex="-1" role="dialog">
    <div class="container" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="books">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="row">
                    <div class="col-12 col-sm-3">
                        <img class="img-fluid mb-4" ng-src="{{$ctrl.book.BookCover}}" />

                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h2 class="modal-title font-weight-light">{{$ctrl.book.BookTitle}}</h2>
                                <a ui-sref="author({id: $ctrl.book.AuthorID})">
                                    <small>By: {{$ctrl.book.AuthorName}}</small>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>4/5 Stars</span>
                                <br />

                            </div>
                            <div class="col text-right">
                                <h4>$ {{$ctrl.book.Price}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                              <button class="btn btn-link float-right">Mark as Purchased</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <h5>Description</h5>
                        {{$ctrl.book.BookDescription}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr />
                        <h5>Reviews</h5>
                    </div>
                </div>
                <div class="row" ng-repeat="c in ($ctrl.comments) track by $index">
                    <div class="col">
                        <div class="post-comment">
                            <div >{{c.UserName}}</div>
                            <div ng-if="c.UserName == null">Anonymous</div>
                            <div class="text-muted"><small>{{c.IndividualRatingValue}}/5 Stars</small></div>
                            <div>{{c.IndividualRatingComment}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ui-sref="books">Close</button>
            </div>
        </div>
    </div>
</div>
